{% extends "account/base.html" %}

{% load i18n %}

{% block body %}

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">

        <div class="account-bg">
            <div class="card-box mb-0">
                <div class="text-center m-t-20">
                    <a class="logo">
                        <i class="zmdi zmdi-group-work icon-c-logo"></i>
                        <span>{{ PROJECT_NAME }}</span>
                    </a>
                </div>
                <div class="m-t-10 p-20">
                    {% include "account/signup-form.html" with form=form %}

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end card-box-->

        <div class="m-t-20">
            <div class="text-center">
                <p class="text-white">{% trans "Already have an account?" %} <a href="{% url "two_factor:login" %}" class="text-white m-l-5"><b>{% trans "Log In" %}</b></a></p>
            </div>
        </div>

    </div>
    <!-- end wrapper page -->

{% endblock %}