{% load exchange %}
{% load i18n %}

<script>
	jQuery(function($) {
		var address_app = new Vue({
			el: '#address-app',
			data: {
				country: '{{ DEFAULT_ADDRESS_COUNTRY|safe }}',
				region: '{{ request.user.addresses.first.region.pk|safe }}',
				regions: {},
				city: '{{ request.user.addresses.first.city.pk|safe }}',
				cities: {}
			},
			methods: {
				find_regions: function(reset) {
					var vm = this;

					if (reset) {
						vm.region = '';
						vm.regions = {};
					}

					$.get('{% url "core>get-regions" %}?country=' + vm.country, function(regions) {
						vm.regions = regions;
					});
				},
				find_cities: function(reset) {
					var vm = this;

					if (reset) {
						vm.city = '';
						vm.cities = {};
					}

					$.get('{% url "core>get-cities" %}?region=' + vm.region, function(cities) {
						vm.cities = cities;
					});
				}
			},
			mounted: function() {
				this.find_regions(false);

				if (this.region) {
					this.find_cities(false);
				}
			},
			watch: {
				country: function() {
					this.find_regions(true);
				},
				region: function() {
					this.find_cities(true);
				}
			}
		});
	});
</script>