{% load exchange %}
{% load i18n %}
<script src="https://cdn.jsdelivr.net/npm/cep-promise/dist/cep-promise-browser.min.js"></script>
<script>
	jQuery(function($) {
		let address_app = new Vue({
			el: '#address-app',
			data: {
				country: '{{ DEFAULT_ADDRESS_COUNTRY|safe }}',
				region: '{{ request.user.addresses.first.region.pk|safe }}',
				regions: {},
				city: '{{ request.user.addresses.first.city.pk|safe }}',
				cities: {},
                zipcode: '{{ request.user.addresses.first.zipcode }}',
                address: '{{ request.user.addresses.first.address }}',
                neighborhood: '{{ request.user.addresses.first.neighborhood }}'
			},
			methods: {
				find_regions: function(reset) {
					let vm = this;

					if (reset) {
						vm.region = '';
						vm.regions = {};
					}

					$.get('{% url "core>get-regions" %}?country=' + vm.country, function(regions) {
						vm.regions = regions;
					});
				},
				find_cities: function(reset) {
					let vm = this;

					if (reset) {
						vm.city = '';
						vm.cities = {};
					}

					$.get('{% url "core>get-cities" %}?region=' + vm.region, function(cities) {
						vm.cities = cities;
					});
				}
			},
			mounted: function() {
				this.find_regions(false);

				if (this.region) {
					this.find_cities(false);
				}
			},
			watch: {
				country: function() {
					this.find_regions(true);
				},
				region: function() {
					this.find_cities(true);
				},
                zipcode: function() {
				    let vm = this;
				    let code = vm.zipcode;

				    if (code && code.length >= 8) {
				        cep(code).then((data) => {
				            vm.address = data.street;
				            vm.neighborhood = data.neighborhood;
                        });
                    }
                }
			}
		});
	});
</script>