{% load scripts %}
{% load i18n %}

<script>
	jQuery(function($) {
		var wallets_app = new Vue({
			el: '#wallets-app',
			data: {
				wallets: {{ wallets|serialize|safe }} 
			},
			methods: {
				createAddress: function(coin) {
					swal({
						title: '{% trans "Loading" %}',
						text: '...',
						showConfirmButton: false
					})
					$.post('{% url "payments>get-address" %}', {coin: coin}, function(response) {
						swal({
							title: '{% trans "Your {coin} address" %}'.replace('{coin}', coin), 
							text: response.address
						});
					});
				}
			}
		});
	});
</script>